<% if user_signed_in? %>
    <div class="container container-fluid text-center" style="margin-top:80px">
        <div class="col-xs-12 col-sm-8 col-lg-9 text-right">
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top: 50px">
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "col-xs-1">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class= "col-xs-7" style="padding-top:10px;">
                        <p>Phuong Pham</p>
                        <div class= "row" style = "text-align: left; padding-left:15px; font-size:12px">
                            <a>17h ago</a>
                        </div>
                    </div> 
                </div>
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "row" style = "text-align: left; padding-left:70px; font-size:15px">
                        <p>Tương tác nhé các bạn</p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <!-- <img src="images/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                        <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                    </div>
                    <div class="panel-footer">
                        <p>880 views</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top: 50px">
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "col-xs-1">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class= "col-xs-7" style="padding-top:10px;">
                        <p>Phuong Pham</p>
                        <div class= "row" style = "text-align: left; padding-left:15px; font-size:12px">
                            <a>17h ago</a>
                        </div>
                    </div> 
                </div>
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "row" style = "text-align: left; padding-left:70px; font-size:15px">
                        <p>Tương tác nhé các bạn</p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <!-- <img src="images/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                        <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                    </div>
                    <div class="panel-footer">
                        <p>880 views</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top: 50px">
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "col-xs-1">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class= "col-xs-7" style="padding-top:10px;">
                        <p>Phuong Pham</p>
                        <div class= "row" style = "text-align: left; padding-left:15px; font-size:12px">
                            <a>17h ago</a>
                        </div>
                    </div> 
                </div>
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "row" style = "text-align: left; padding-left:70px; font-size:15px">
                        <p>Tương tác nhé các bạn</p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <!-- <img src="images/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                        <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                    </div>
                    <div class="panel-footer">
                        <p>880 views</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding-top: 50px">
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "col-xs-1">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class= "col-xs-7" style="padding-top:10px;">
                        <p>Phuong Pham</p>
                        <div class= "row" style = "text-align: left; padding-left:15px; font-size:12px">
                            <a>17h ago</a>
                        </div>
                    </div> 
                </div>
                <div class= "row" style = "text-align: left; padding-bottom:20px">
                    <div class= "row" style = "text-align: left; padding-left:70px; font-size:15px">
                        <p>Tương tác nhé các bạn</p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <!-- <img src="images/anh.jpg" class="img-responsive" style="width:100%" alt="Image"> -->
                        <video controls width="100%" class="video-responsive" src="assets/Summer.mp4?autoplay=0" frameborder="0" gesture="media" allowfullscreen  controls="controls" ></video>
                    </div>
                    <div class="panel-footer">
                        <p>880 views</p>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-xs-0 col-sm-4 col-lg-3 text-left" style="position: f">
            <div class="col-xs-12 smallcalllist" id="smallcalllist">
                <button type="button" class="btn btn-primary btn-block text-left">Call list</button>
            </div>
            <div class="calllist" id="calllist">
                <h4 style="text-align: center;">Call list</h4>
                <hr>
                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img alt="avatar" src="/assets/anh-1.png" style="width: 40px; height :40px; " />
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Phuong Pham</a>
                        <span class="state"></span>
                    </div>
                </div>
                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Phuong Pham</a>
                        <span class="state"></span>
                    </div>
                </div>

                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Chiến Văn Nguyễn</a>
                        <span class="state"></span>
                    </div>
                </div>
                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Lạc Lạc</a>
                        <span class="state"></span>
                    </div>
                </div>
                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Duc Minh Vu</a>
                        <span class="state"></span>
                    </div>
                </div>
                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Phuong Pham</a>
                        <span class="state"></span>
                    </div>
                </div>
                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Vũ Minh Quang</a>
                        <span class="state"></span>
                    </div>
                </div>
                <div class="person">
                    <div class="col-xs-2 avatar">
                        <img src="/assets/anh-1.png" alt="" style="width: 40px; height :40px; ">
                    </div>
                    <div class="col-xs-10 nameperson">
                        <a href="#" title="">Phuong Pham</a>
                        <span class="state"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
<% else %>
    <div class="container">
        <div class="row" style ="padding-top:100px;">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login to UETKonnext</h3>
                    </div>
                    <div class="panel-body form-group">
                        <%= form_for("user", url: user_session_path) do |f| %>
                            <div class="input-name">
                              <%= f.label :email %><br />
                              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                            </div>
                            <div class="input-name input-margin">
                              <%= f.label :password %><br />
                              <%= f.password_field :password, autocomplete: "off" %>
                            </div>
                            <div class="input-r">
                              <div class="check-input">
                                <%= f.check_box :remember_me %>
                              </div>
                              <div class="rememberme"><label for="remember-me-2"><%= t ".remember" %></label></div>
                            </div>
                            <%= f.submit "Login" %>
                            <div class="forgot-pass">
                              <a href="#"><%= t ".foget" %></a>
                            </div>
                            <div class="or"></div>
                            <a href="#" class="login-with-fb">
                              <span class="icon fa fa-facebook"></span>
                              <%= "Login with facebook" %>
                            </a>
                          <% end %>
                        <center><h4>OR</h4></center>
                        <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via facebook">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login to UETKonnext</h3>
                </div>
                <div class="panel-body">
                    <%= form_for("user", url: user_registration_path) do |f| %>
                        <div class="input-name">
                        <h2><%= t ".email" %></h2>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                        </div>
                        <div class="input-name input-margin">
                        <h2><%= t ".password" %></h2>
                        <%= f.password_field :password, autocomplete: "off" %>
                        </div>
                        <div class="input-name input-margin">
                        <h2><%= t ".password_cf" %></h2>
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                        </div>
                        <%= f.submit "Signup" %>
                    <% end %>
                </div>
            </div>
            </div>
        </div>
    </div>
<% end %>